{% capture tocWorkspace %}
    {% assign title = include.title | default: "目录："%}
    {% assign minHeader = 1 %}
    {% assign maxHeader = 6 %}
    {% assign nodes = include.html | split: '<h' %}
    {% assign firstHeader = true %}

    {% capture listModifier %}1.{% endcapture %}

    {% for node in nodes %}
        {% if node == "" %}
            {% continue %}
        {% endif %}

        {% assign headerLevel = node | replace: '"','' | slice: 0, 1 | times: 1 %}

        {% if headerLevel < minHeader or headerLevel > maxHeader %}
            {% continue %}
        {% endif %}

        {% if firstHeader %}
            {% assign firstHeader = false %}
            {% assign minHeader = headerLevel %}
        {% endif %}

        {% assign indentAmount = headerLevel | minus: minHeader %}
        {% assign _workspace = node | split: '</h' %}

        {% assign _idWorkspace = _workspace[0] | split: 'id="' %}
        {% assign _idWorkspace = _idWorkspace[1] | split: '"' %}
        {% assign html_id = _idWorkspace[0] %}

        {% assign _classWorkspace = _workspace[0] | split: 'class="' %}
        {% assign _classWorkspace = _classWorkspace[1] | split: '"' %}
        {% assign html_class = _classWorkspace[0] %}

        {% if html_class contains "no_toc" %}
            {% continue %}
        {% endif %}

        {% capture _hAttrToStrip %} {{_workspace[0] | split: '>' | first }}>{% endcapture %}
        {% assign header = _workspace[0] | replace: _hAttrToStrip, '' %}

        {% assign space = '' %}
        {% for i in (1..indentAmount) %}
            {% assign space = space | prepend: '    ' %}
        {% endfor %}

        {% if include.item_class and include.item_class != blank %}
            {% capture listItemClass %}{:.{{ include.item_class | replace: '%level%', headerLevel}}}{% endcapture %}
        {% endif %}

        {% assign hCount = hCount | plus: 1 %}

        {% capture heading_body %} {% if include.sanitize %}{{ header | strip_html }}{% else %}{{ header }}{% endif %}{% endcapture %}

        {% capture site_toc %}{{site_toc}}
        {{ space }}{{ listModifier }} {{ listItemClass }} [{{ heading_body | replace: "|", "\|" }}]({% if include.baseurl %}{{ include.baseurl }}{% endif %}#{{ html_id }})
        {% if include.anchor_class %}{:.{{ include.anchor_class}}}{% endif %}{% endcapture %}
    {% endfor %}

    {% if include.class and include.item_class != blank %}
        {% capture site_toc %}{:.{{ include.class }}}{{ site_toc | lstrip }}{% endcapture %}
    {% endif %}

    {% if include.id %}
        {% capture site_toc %}{: #{{ include.id }}}{{ site_toc | lstrip }}{% endcapture %}
    {% endif %}
{% endcapture %} {% assign tocWorkspace = '' %}

{% if hCount >= 1 %}
    {{ title }}
    {{ site_toc | markdownify | strip }}
{% endif %}