<div class="header-navigation">
    <ul>
        <li>
            [<a href="{{baseurl}}/index.html" title="返回网站首页">首页</a>]
        </li>
        <!-- <li>
            [<a href="/" title="导出txt文件格式">txt</a>|<a href="/" title="导出pdf文件格式">pdf</a>]
        </li>
        <li>
            [<a href="/" title="参与文章的讨论">讨论</a>]
        </li> -->
        <li>
            [<a target="_blank" href="{{ site.github.repository_url }}/commits/master/{{page.path | escape}}" title="文章更新记录">更新记录</a>]
        </li>
        <!-- <li>
            [<a href="/" title="文章差异">差异</a>]
        </li> -->
        <li>
            [<a target="_blank" href="{{ site.github.repository_url }}/new/master/_posts?filename=" title="添加文章">添加</a>]
        </li>
        <li>
            [<a target="_blank" href="{{ site.github.repository_url }}/edit/master/{{page.path | escape}}" title="编辑文章">编辑</a>]
        </li>
    
        <li>
            [<a href="{{baseurl}}{% include components/pages/pages.html title=page.title obj='previous' opt='url' %}" title="上一篇文章">上一篇</a>]
        </li>
    
       
    
        <li>
            [<a href="{{baseurl}}{% include components/pages/pages.html title=page.title obj='next' opt='url' %}" title="下一篇文章">下一篇</a>]
        </li>
    
    </ul>
</div>