<div class="site-main-content site-layout-plr mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
    style="height: 100vh; background-image: url('/assets/images/sincerely-media-UfhZRbjlDus-unsplash.jpg');margin-top: -24px;
    background-position-y: -850px;background-size: cover;">

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div class="site-main-banner__image"></div>
            </div>
        </div>
    </div>

</div>



