<!-- <div class="post-container">
    <div class="post-container-inner">
        <div class="container-title">
            帖子 
        </div>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <a href="{{baseurl}}{{post.url}}">
                    <div class="list-item">
                        <div class="post-title">{{post.title}}</div>
                        <div class="post-date">{{post.date | date: "%Y/%m/%d"}}</div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div> -->


<div class="post-container">
    <div class="post-container-inner">
        <!-- <div class="post-meta">
            <div class="post-meta-inner">
                <ul>
                    <li>
                        <div>分类：</div>
                        <div>{{page.category}}</div>
                    </li>
                    <li>
                        <div>发布日期：</div>
                        <div>2020/05/10</div>
                    </li>
                </ul>
                <ul>
                    <li>Xia Shuangxi</li>
                </ul>
            </div> 
        </div>-->
        <div class="post-content">
            <div class="post-content-title">{{ site.title }}</div>
            <div class="post-content-article-content">
                <h1>简介</h3>
                <p>{{ site.description }} 您可以在<a href="{{site.github.repository_url}}" title="Github">Github</a>上找到该网站的源码，也可以在这里打开问题来<a target="_black" href="https://github.com/xiashuangxi/bookphrase/issues/new" title="讨论">讨论</a>帖子。</p>
                {% assign post_size = site.posts | size %}
                
                {% if post_size > 0 %}
                <h1>帖子</h3>
                <ul class="post-list">
                    {% for post in site.posts %}
                    <li>
                        <a title="{{post.title}}" href="{{baseurl}}{{post.url}}">
                            <div class="list-item">
                                <div class="post-title">{{post.title}}</div>
                                <div class="post-date">{{post.date | date: "%Y/%m/%d"}}</div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>