<div id="post-container" class="post-container">
    <div class="post-container-inner">
        <div class="post-meta">
            <div class="post-meta-inner">
                <ul style="margin-top: auto">
                    <!-- <li>
                        <div>讨论数：</div>
                        <div><a href="#">2323</a></div>
                    </li> -->
                    {% if page.category %}
                    <li>
                        <div class='mate-info'>分类</div>
                        ：
                        <div>
                            {% for c in page.category%}
                                <div>{{c}}</div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <div class='mate-info'>发布日期</div>
                        ：
                        <div>{{ page.date |date: "%Y/%m/%d" }}</div>
                    </li>
                    {% if page.last_update %}
                    <li>
                        <div class='mate-info'>最近更新日期</div>
                        ：
                        <div><span id=""></span>{{ page.last_update | date: "%Y/%m/%d"}}</div>
                    </li>
                    {% endif %}
                </ul>
                <ul>
                    <div id="qrcode" >
                    </div>
                    {% if page.authors %}
                        {% for item in page.authors %}
                            <li>
                                {% if item.author[1] %}
                                    <a href="mailto:{{item.author[1]}}">{{item.author[0]}}</a>
                                {% else %}
                                    {{item.author[0]}}
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                    <li><a href="mailto:{{site.email}}">{{ site.author }}</a></li>
                    {% endif %}
                </ul>

                
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-title">{{ page.title }}</div>
            <div class="post-content-article-content">{{ content }}</div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var qrcode_page = function(url) {
        document.location.target = '_blank';
        document.location.href = '{{baseurl}}/qrcode.html?url='+url
    }
    // qrcode
    $('#qrcode').qrcode(    
        {
            width: 100,
            height: 100,
            text: document.location.href.split("?")[0]
        });
    $("#qrcode").css({
        width: 100,
        height: 100, 
        border: "2px solid black",
        padding: "3px",
        "margin-left": "auto",
        'cursor': 'pointer',
        "margin-bottom": "4px"});

    document.getElementById('qrcode').onclick = function(){
        qrcode_page(encodeURI(document.location.href.split("?")[0]))
    }
</script>