<div class="post-container">
    <div class="post-container-inner">
        <div class="post-meta">
            <div class="post-meta-inner">
                <ul>
                    <li>
                        <div>讨论数：</div>
                        <div><a href="#">2323</a></div>
                    </li>
                    <li>
                        <div>分类：</div>
                        <div>Rust</div>
                    </li>
                    <li>
                        <div>发布日期：</div>
                        <div>2020/05/10</div>
                    </li>
                </ul>
                <ul>
                    <li>Xia Shuangxi</li>
                </ul>
            </div>
        </div>

        【{{ site.github.repository_url }}】<br>
        【{{ site.github.owner_url }}】<br>
        【{{site.github.build_servision}}】<br>
        【{{site.github.repository_name}}】<br>
        【{{site.url}}】<br>
        
        <div class="post-content">
            <div class="post-content-title">{{ page.title }}</div>
            <div class="post-content-article-content">{{ content }}</div>
        </div>
    </div>
</div>