<!-- <script src="{{baseurl}}/assets/scripts/lib/html2canvas.min.js"></script>
<script src="{{baseurl}}/assets/scripts/lib/jspdf.debug.js"></script> -->

<script src="{{baseurl}}/assets/scripts/lib/jquery.min.js"  crossorigin="anonymous"></script>
<!-- <script src="{{baseurl}}/assets/scripts/lib/lunarFun.min.js"  crossorigin="anonymous"></script> -->
<script src="{{baseurl}}/assets/scripts/lib/jquery.qrcode.min.js"  crossorigin="anonymous"></script>
<!-- <script src="{{baseurl}}/assets/scripts/lib/qrcode.min.js"  crossorigin="anonymous"></script> -->
<!-- <script src="{{baseurl}}/assets/scripts/lib/jspdf.debug.js"  crossorigin="anonymous"></script>
<script src="{{baseurl}}/assets/scripts/lib/jspdf.plugin.autotable.js"  crossorigin="anonymous"></script>
<script src="{{baseurl}}/assets/scripts/lib/tableHTMLExport.js"  crossorigin="anonymous"></script>

<script src="{{baseurl}}/assets/scripts/export.js"  crossorigin="anonymous"></script> -->