<!-- <script src="{{baseurl}}/assets/scripts/lib/html2canvas.min.js"></script>
<script src="{{baseurl}}/assets/scripts/lib/jspdf.debug.js"></script> -->

<script src="{{baseurl}}/assets/scripts/lib/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
<script src="{{baseurl}}/assets/scripts/lib/jspdf.debug.js"  crossorigin="anonymous"></script>
<script src="{{baseurl}}/assets/scripts/lib/jspdf.plugin.autotable.js"  crossorigin="anonymous"></script>
<script src="{{baseurl}}/assets/scripts/lib/tableHTMLExport.js"  crossorigin="anonymous"></script>

<script src="{{baseurl}}/assets/scripts/export.js"  crossorigin="anonymous"></script>