<!-- <script src="{{baseurl}}/assets/scripts/lib/html2canvas.min.js"></script>
<script src="{{baseurl}}/assets/scripts/lib/jspdf.debug.js"></script> -->

<script src="{{baseurl}}/assets/scripts/lib/jquery.min.js"  crossorigin="anonymous"></script>
<!-- <script src="{{baseurl}}/assets/scripts/lib/lunarFun.min.js"  crossorigin="anonymous"></script> -->
<script src="{{baseurl}}/assets/scripts/lib/jquery.qrcode.min.js"  crossorigin="anonymous"></script>
<!-- <script src="{{baseurl}}/assets/scripts/lib/qrcode.min.js"  crossorigin="anonymous"></script> -->
<!-- <script src="{{baseurl}}/assets/scripts/lib/jspdf.debug.js"  crossorigin="anonymous"></script>
<script src="{{baseurl}}/assets/scripts/lib/jspdf.plugin.autotable.js"  crossorigin="anonymous"></script>
<script src="{{baseurl}}/assets/scripts/lib/tableHTMLExport.js"  crossorigin="anonymous"></script>

<script src="{{baseurl}}/assets/scripts/export.js"  crossorigin="anonymous"></script> -->

<!-- 百度统计 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?48733eb5ba0a4550337bc6c50f4d8aae";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
